@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 1.25;
  color: #402E2A;
}

li {
  list-style-type: none;
}

section {
  background-color: #ffffef;
}

button {
  cursor: pointer;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.green {
  color: #2c6e49;
}

.click {
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #2c6e49;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: #ffffef;
}

.link__hover-effect--green:after {
  color: #2c6e49;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

/* 

NAVIGATION

 */

.logo {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav__links--list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link--anchor {
  text-decoration: none;
  margin-left: 24px;
  color: #402E2A;
  font-size: 16px;
}

.fa-circle-half-stroke {
  font-size: 20px;
}

/* 

Landing Page

 */

#landing__page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
}

.title {
  font-size: 80px;
}

.header__para {
  font-size: 20px;
  line-height: 2;
  max-width: 600px;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffef;
  background-color: #2c6e49;
  border-radius: 50%;
  padding: 10px;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  font-size: 16px;
}

.mail__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #402E2A;
  color: #ffffef;
  position: fixed;
  bottom: 32px;
  right: 40px;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 30px;
  border-radius: 24px;
  border: 2px solid #2c6e49;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 5px;
  background-color: #2c6e49;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/* 

Modal

 */

 .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
 }

.modal__half {
  width: 50%;
  padding: 40px 72px;
}

.modal__about {
  background-color: #ffffef;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__contact {
  background-color: #402E2A;
  color: #ffffef;
}

.modal__languages {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.modal__language {
  width: 25%;
  padding: 16px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.language__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
}

.modal__language:hover .language__name {
transform: scale(1);
transition: all 300ms ease-in-out;
}

.modal__language:hover {
  transform: scale(0.9);
  filter: brightness(80%);
  transition: all 300ms ease-in-out;
}

.modal__language--img {
  width: 100%;
}

.modal__title {
  font-size: 26px;
}

.modal__subtitle {
  margin: 12px 0 24px 0;
  font-size: 16px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

/* 

Projects

 */

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2c6e49;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.section__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.project__img {
  width: 100%;
  transition: transform 300ms ease-in-out, filter 300ms ease-in-out;
}

.project__wrapper {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
  transform: scale(1.1);
  filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms ease-in-out, transform 450ms ease-in-out;
  color: #ffffef;
  max-width: 550px;
}

.project__title {
  color: #ffffef;
  font-size: 30px;
  margin-bottom: 8px;
}

.tech__stack {
  font-size: 20px;
  color: #ffffef;
}

.project__para {
  color: #ffffef;
  margin: 16px 0;
}

.project__link {
  color: #ffffef;
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
}

/* 

Footer

 */

footer {
  background-color: #2c6e49;
  display: flex;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo--img {
  width: 150px;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 0 0 24px 0;
}

.footer__social--link,
.footer__copyright {
  color: #ffffef;
  text-decoration: none;
}
